{% load staticfiles %}
{% load sniper %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% sniper_onload %}

    {% block head %}
    <meta charset="utf-8">

    <title>{% block title %}MiniReddit{% endblock %}</title>

    <link href="{% static 'bs/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <!--    <link href="http://bootswatch.com/darkly/bootstrap.min.css" type="text/css" rel="stylesheet"/> -->
    <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet"/>

    {% endblock %}

    {% block extracss %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% block body %}
        NOTHING!!
      {% endblock %}

      <!-- JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/sniper.js' %}"></script>

    </div>
  </body>
</html>

