{% extends 'with_side.html' %}

{% load staticfiles %}
{% load sniper %}

{% block extracss %}
  {{block.super}}
  <link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block subtitle %}
  {% if is_sub %}
    <a href="/r/{{subreddit}}"><h3>{{subreddit}}</h3</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <div class="scoring c">
        <a href="#up" data-sniper="/async/vote?type=post&id={{post.id}}&value=u"><div class="arrow-up"></div></a>
        <div class="score c"><p class="b g" id="score-{{post.id}}">{{post.score}}</p></div>
        <a href="#down" data-sniper="/async/vote?type=post&id={{post.id}}&value=d"><div class="arrow-down"></div></a>
      </div>
      <div class="content">
        <a href="{{post.url}}" class="title"><h4>{{post.title}}</h4></a>

        <p class="dull">submitted by 
          <a href="#" class="dull2">{{post.author.username}}</a> 
          to 
          <a href="{{post.sub_url}}" class="dull2">/r/{{post.sub.name}}</a>
          &mu;
          <span class="dull4">[{{post.domain}}]</span>
        </p>

        <a href="/r/{{post.sub.name}}/post/{{post.id}}" class="dull4 commentslink"><p>{{post.comments.count}} comments</p></a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
