{% extends 'with_side.html' %}

{% load staticfiles %}
{% load sniper %}

{% block extracss %}
  {{block.super}}
  <link href="{% static 'css/post.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block subtitle %}
  {% if is_sub %}
  <a href="/r/{{subreddit}}"><h3>{{subreddit}}</h3></a>
  {% endif %}
{% endblock %}

{% block content %}
  <a class="postlink" href="{{post.url}}"><h3>"{{post.title}}"</h3></a>
  <p>submitted by <a href="#">{{post.author.username}}</a> to <a href="/r/{{post.sub.name}}">/r/{{post.sub.name}}</a></p>
  <p class="postbody">{{post.body}}</p>

  {% if user.is_authenticated %}
  <div class="rootcomment">
    <h3>leave comment as {{user.username}}</h3>
    <form method="POST" action="/async/comment/" data-sniper="true">
      {% csrf_token %}
      {{rootcommentform.body}}
      {{rootcommentform.post_id}}
      {{rootcommentform.parent_id}}
      <input class="btn" type="submit" value="submit" />
    </form>
    </div>
  {% endif %}

  <h3>comments</h3>

  {% for comment in post.comments.all %}
  <div class="comment">
    <p class="author">by {{comment.author.username}}</p>
    <p>{{comment.body}}</p>
    <a class="action" href="#reply">reply</a>
  </div>
  {% endfor %}
{% endblock %}
