{% extends 'with_side.html' %}

{% load staticfiles %}
{% load sniper %}
{% load markdown_deux_tags %}

{% block extracss %}
  {{block.super}}
  <link href="{% static 'css/post.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block subtitle %}
  {% if is_sub %}
  <a href="/r/{{subreddit}}">{{subreddit}}</a>
  {% endif %}
{% endblock %}

{% block content %}
  <a class="postlink" href="{{post.url}}"><h3>"{{post.title}}"</h3></a>
  <p class="dull">submitted by <a href="/u/{{post.author.username}}/" class="dull2">{{post.author.username}}</a> to <a href="/r/{{post.sub.name}}" class="dull2">/r/{{post.sub.name}}</a></p>

  {% if post.body %}
  <div class="postbody">{{post.body|markdown}}</div>
  {% endif %}

  {% if user.is_authenticated %}
  <div class="rootcomment">
    <h3>leave comment as {{user.username}}</h3>
    <form method="POST" action="/async/comment/" data-sniper="true">
      {% csrf_token %}
      {{rootcommentform.body}}
      {{rootcommentform.post_id}}
      {{rootcommentform.parent_id}}
      <input class="btn" type="submit" value="submit" />
    </form>
    </div>
  {% endif %}

  {% if post.comments.count %}
  <h3>comments</h3>
  {% else %}
  <h3>no one has commented yet</h3>
  {% endif %}

  {% for cc in post.get_comments %}
    {% with template_name="recur_comment_view.html" post=post comment=cc color="colora" ncolor="colorb" %}
      {% include template_name %}
    {% endwith %}
  {% endfor %}
{% endblock %}
