<div class="comment {{color}}">
<p class="dull2">{{comment.comment.author.username}} <span class="dull">&mu;</span> <span class="dull3">{{comment.comment.score}} points</span></p>
  <p>{{comment.comment.body}}</p>
  <a class="dull" href="#reply" data-sniper="/async/view_comment_reply?parent_id={{comment.comment.id}}&post_id={{post.id}}">reply</a>
  <a class="dull" href="#message" data-sniper="/async/view_comment_reply?parent_id={{comment.comment.id}}&post_id={{post.id}}">message</a>
  <a class="dull" href="#report" data-sniper="/async/view_comment_reply?parent_id={{comment.comment.id}}&post_id={{post.id}}">report</a>
  <div class="reply-box-{{comment.comment.id}}"></div>

  <div class="children">
    {% for cc in comment.children %}
      {% with template_name="recur_comment_view.html" post=post comment=cc color=ncolor ncolor=color %}
        {% include template_name %}
      {% endwith %}
    {% endfor %}
  </div>
</div>
