{% extends 'base.html' %}

{% load staticfiles %}
{% load sniper %}

{% block extracss %}
  {{block.super}}
  <link href="{% static 'css/with_side.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block contained %}
<div class="row">
  <div class="col-md-10">
    {% block content %}
    {% endblock %}
  </div>

  <div class="col-md-2 sidebar">
    {% if not user.is_authenticated %}
    <h3 id="error"></h3>
    <form class="loginform" method="POST" action="/async/login/" data-sniper="true">
      {{form.username}}
      {{form.password}}
      {% csrf_token %}
      <input class="btn btn-success" type="submit" value="login" />
    </form>

    <a href="/register/" class="btn btn-primary createaccount">create an account</a>
    <br />
    {% endif %}

    {% if is_sub %}
      <a href="/submit/" class="btn btn-success">subscribe to /r/{{subreddit}}</a>
      <br />
    {% endif %}

    <a href="/createsub/" class="btn btn-primary">create a subreddit</a>
    <br />

    <a href="/submit/" class="btn btn-primary">submit a link</a>
    <br />

    {% if is_sub %}
    <a href="/submit/?sub={{subreddit}}" class="btn btn-primary">submit a link to /r/{{subreddit}}</a>
      <br />
    {% endif %}
  </div>
</div>
{% endblock %}
