form input[type="text"], 
input[type="password"],
form input[type="submit"],
form textarea {
  margin-top: 8px;
}

h1, h2, h3, h4 {
  padding: 0px;
  margin: 0px;
}

body > .header {
  border: 1px solid gray;
  background: #cee3f8;
  margin-bottom: 16px;
  padding-left: 18px;
  padding-bottom: 4px;
  padding-right: 4px;
}

body > .header > a {
  text-decoration: none;
  color: #222;
}

body > .header > .login {
  margin: 4px;
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
}

body > .header > .login > a {
  color: blue;
  text-decoration: underline;
}

.login > form {
  float: right;
}

.foo {
  background: red;
}

.header > .subtitle {

}
