form input[type="text"], 
input[type="password"],
form input[type="submit"],
form textarea {
  margin-top: 8px;
}

a {
  color: blue;
}

.g {
  color: #777;
}

.b {
  font-weight: bold;
}

h1, h2, h3, h4, p, a, label {
  padding: 0px;
  margin: 0px;
}

body > .header {
  border: 1px solid gray;
  background: #cee3f8;
  margin-bottom: 16px;
  padding-left: 18px;
  padding-bottom: 4px;
  padding-right: 4px;
}

body > .header > a {
  text-decoration: none;
  color: #222;
}

body > .header > .login {
  margin: 4px;
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
}

body > .header > .login > a {
  color: blue;
  text-decoration: underline;
}

body > .header > .sublist {
  background: grey;
}

.login > form {
  float: right;
}

.sublist {
  height: 18px;
  line-height: 18px;
  padding-left: 18px;
  background: #eee;
}

.sublist a {
  margin-right: 4px;
  text-transform: uppercase;
  font-size: 8px;
  color: #333;
}

.dull {
  color: #888;
  font-size: 11px;
  padding-left: 1px;
}

.dull2 {
  font-weight: bold;
  font-size: 11px;
  padding-left: 1px;
  color: #369;
}

.dull3 {
  font-size: 11px;
  padding-left: 1px;
  color: #333;
  font-weight: bold;
}

.dull4 {
  font-weight: bold;
  color: #888;
  font-size: 11px;
  padding-left: 1px;
}

.c {
  text-align: center;
}

.arrow-up {
  position: relative;
  left: 15px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ccc;
}

.arrow-down {
  position: relative;
  left: 15px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ccc;
}

.scoring {
  width: 50px;
}
