h3#error {
  color: red;
}

.post {
  padding: 8px;
}

.post:hover {
  background: #eef;
}

.post > .title {
  color: blue;
}

.post > p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #888;
}
