.postlink {
}
.postbody {
  padding: 6px;
  background: #f5f5ff;
  border-radius: 2px;
  border: 1px solid #ddd;
}

form > textarea {
  background: #666;
  max-width: 600px;
  height: 150px;
}

.rootcomment {
  margin-top: 36px;
  margin-bottom: 36px;
}

.comment {
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.comment p {
  padding: 0px;
  margin: 0px;
}

div.comment div.comment {
}

div.colora {
  background: #f8f8fa;
}

div.colorb {
  background: white;
}
