.postlink {
}
.postbody {
  padding: 6px;
  background: #f0f0f0;
  border: 1px solid gray;
}

form textarea {
  background: #eee;
  max-width: 600px;
  height: 200px;
}

.rootcomment {
  margin-top: 36px;
}

.comment {
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 8px;
  border-radius: 2px;
}

.comment p {
  padding: 0px;
  margin: 0px;
}

.comment a.action {
  font-weight: bold;
  color: #777;
  font-size: 12px;
}

.comment p.author {
  font-weight: bold;
  color: #77a;
  font-size: 12px;
}
